# Week 2.1

In [1]:
#Pre-requisite Code to compute up to Self Test
import pandas as pd
import numpy as np
NBA_Teams=pd.read_csv("../Data/nba_teams.csv")
NBA_Teams.rename(columns={'Unnamed: 0':'TEAM_NUMBER'}, inplace=True)
NBA_Teams.rename(columns={'ID':'TEAM_ID'}, inplace=True)
display(NBA_Teams)

,TEAM_NUMBER,ABBREVIATION,CITY,FULL_NAME,TEAM_ID,NICKNAME,STATE,YEAR_FOUNDED
0,0,ATL,Atlanta,Atlanta Hawks,1610612737,Hawks,Atlanta,1949
1,1,BOS,Boston,Boston Celtics,1610612738,Celtics,Massachusetts,1946
2,2,CLE,Cleveland,Cleveland Cavaliers,1610612739,Cavaliers,Ohio,1970
3,3,NOP,New Orleans,New Orleans Pelicans,1610612740,Pelicans,Louisiana,2002
4,4,CHI,Chicago,Chicago Bulls,1610612741,Bulls,Illinois,1966
5,5,DAL,Dallas,Dallas Mavericks,1610612742,Mavericks,Texas,1980
6,6,DEN,Denver,Denver Nuggets,1610612743,Nuggets,Colorado,1976
7,7,GSW,Golden State,Golden State Warriors,1610612744,Warriors,California,1946
8,8,HOU,Houston,Houston Rockets,1610612745,Rockets,Texas,1967
9,9,LAC,Los Angeles,Los Angeles Clippers,1610612746,Clippers,California,1970
10,10,LAL,Los Angeles,Los Angeles Lakers,1610612747,Lakers,California,1948
11,11,MIA,Miami,Miami Heat,1610612748,Heat,Florida,1988
12,12,MIL,Milwaukee,Milwaukee Bucks,1610612749,Bucks,Wisconsin,1968
13,13,MIN,Minnesota,Minnesota Timberwolves,1610612750,Timberwolves,Minnesota,1989
14,14,BKN,Brooklyn,Brooklyn Nets,1610612751,Nets,New York,1976
15,15,NYK,New York,New York Knicks,1610612752,Knicks,New York,1946
16,16,ORL,Orlando,Orlando Magic,1610612753,Magic,Florida,1989
17,17,IND,Indiana,Indiana Pacers,1610612754,Pacers,Indiana,1976
18,18,PHI,Philadelphia,Philadelphia 76ers,1610612755,76ers,Pennsylvania,1949
19,19,PHX,Phoenix,Phoenix Suns,1610612756,Suns,Arizona,1968
20,20,POR,Portland,Portland Trail Blazers,1610612757,Trail Blazers,Oregon,1970
21,21,SAC,Sacramento,Sacramento Kings,1610612758,Kings,California,1948
22,22,SAS,San Antonio,San Antonio Spurs,1610612759,Spurs,Texas,1976
23,23,OKC,Oklahoma City,Oklahoma City Thunder,1610612760,Thunder,Oklahoma,1967
24,24,TOR,Toronto,Toronto Raptors,1610612761,Raptors,Ontario,1995
25,25,UTA,Utah,Utah Jazz,1610612762,Jazz,Utah,1974
26,26,MEM,Memphis,Memphis Grizzlies,1610612763,Grizzlies,Tennessee,1995
27,27,WAS,Washington,Washington Wizards,1610612764,Wizards,District of Columbia,1961
28,28,DET,Detroit,Detroit Pistons,1610612765,Pistons,Michigan,1948
29,29,CHA,Charlotte,Charlotte Hornets,1610612766,Hornets,North Carolina,1988

## Self Test - 1 Solution
- Rename "FULL_NAME" to "TEAM_NAME"

In [ ]:
NBA_Teams.rename(columns={'FULL_NAME':'TEAM_NAME'}, inplace=True)
display(NBA_Teams)

### Dropping Columns and Rows

In [2]:
#Pre-requisite Code to compute up to Self Test
NBA_Teams.drop(['TEAM_NUMBER'], axis=1, inplace=True)
display(NBA_Teams)
Games=pd.read_csv("../Data/basketball_games.csv")
Games.drop([0], axis=0, inplace=True)
Games=Games[Games.TEAM_NAME !="Las Vegas Aces"]
Games.head()

,ABBREVIATION,CITY,FULL_NAME,TEAM_ID,NICKNAME,STATE,YEAR_FOUNDED
0,ATL,Atlanta,Atlanta Hawks,1610612737,Hawks,Atlanta,1949
1,BOS,Boston,Boston Celtics,1610612738,Celtics,Massachusetts,1946
2,CLE,Cleveland,Cleveland Cavaliers,1610612739,Cavaliers,Ohio,1970
3,NOP,New Orleans,New Orleans Pelicans,1610612740,Pelicans,Louisiana,2002
4,CHI,Chicago,Chicago Bulls,1610612741,Bulls,Illinois,1966
5,DAL,Dallas,Dallas Mavericks,1610612742,Mavericks,Texas,1980
6,DEN,Denver,Denver Nuggets,1610612743,Nuggets,Colorado,1976
7,GSW,Golden State,Golden State Warriors,1610612744,Warriors,California,1946
8,HOU,Houston,Houston Rockets,1610612745,Rockets,Texas,1967
9,LAC,Los Angeles,Los Angeles Clippers,1610612746,Clippers,California,1970
10,LAL,Los Angeles,Los Angeles Lakers,1610612747,Lakers,California,1948
11,MIA,Miami,Miami Heat,1610612748,Heat,Florida,1988
12,MIL,Milwaukee,Milwaukee Bucks,1610612749,Bucks,Wisconsin,1968
13,MIN,Minnesota,Minnesota Timberwolves,1610612750,Timberwolves,Minnesota,1989
14,BKN,Brooklyn,Brooklyn Nets,1610612751,Nets,New York,1976
15,NYK,New York,New York Knicks,1610612752,Knicks,New York,1946
16,ORL,Orlando,Orlando Magic,1610612753,Magic,Florida,1989
17,IND,Indiana,Indiana Pacers,1610612754,Pacers,Indiana,1976
18,PHI,Philadelphia,Philadelphia 76ers,1610612755,76ers,Pennsylvania,1949
19,PHX,Phoenix,Phoenix Suns,1610612756,Suns,Arizona,1968
20,POR,Portland,Portland Trail Blazers,1610612757,Trail Blazers,Oregon,1970
21,SAC,Sacramento,Sacramento Kings,1610612758,Kings,California,1948
22,SAS,San Antonio,San Antonio Spurs,1610612759,Spurs,Texas,1976
23,OKC,Oklahoma City,Oklahoma City Thunder,1610612760,Thunder,Oklahoma,1967
24,TOR,Toronto,Toronto Raptors,1610612761,Raptors,Ontario,1995
25,UTA,Utah,Utah Jazz,1610612762,Jazz,Utah,1974
26,MEM,Memphis,Memphis Grizzlies,1610612763,Grizzlies,Tennessee,1995
27,WAS,Washington,Washington Wizards,1610612764,Wizards,District of Columbia,1961
28,DET,Detroit,Detroit Pistons,1610612765,Pistons,Michigan,1948
29,CHA,Charlotte,Charlotte Hornets,1610612766,Hornets,North Carolina,1988

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
2,22019,1611661320,LAS,Los Angeles Sparks,1021900124,8/1/2019,LAS vs. LVA,W,200,76,...,1.000,5,28,33,19,7,7,12,18,8.0
3,22019,1611661323,CON,Connecticut Sun,1021900122,8/1/2019,CON vs. PHO,W,200,68,...,0.786,12,28,40,18,13,0,16,15,6.0
4,22019,1611661317,PHO,Phoenix Mercury,1021900122,8/1/2019,PHO @ CON,L,199,62,...,0.778,6,23,29,15,8,9,18,11,-6.0
6,22019,1611661313,NYL,New York Liberty,1021900123,8/1/2019,NYL @ DAL,L,200,64,...,0.800,6,21,27,15,10,2,21,26,-23.0
7,22019,1611661321,DAL,Dallas Wings,1021900123,8/1/2019,DAL vs. NYL,W,200,87,...,0.833,9,24,33,24,13,6,18,21,23.0

## Self Test - 2 Solution
- Drop all the Phoenix Mercury games

In [ ]:
Games=Games[Games.TEAM_NAME !="Phoenix Mercury"]
Games.head()

### Merging Dataframes

In [ ]:
#Pre-requisite Code to compute up to Self Test
NBA_Games=pd.merge(NBA_Teams, Games, on=['TEAM_ID', 'TEAM_NAME'])
NBA_Games.head()
NBA_Games.columns
NBA_Games.drop(['ABBREVIATION'], axis=1, inplace=True, errors='ignore')

## Self Test - 3 Solution
- Find the number of observations and the number of variables in the dataset

In [ ]:
NBA_Games.shape

In [ ]:
NBA_Games.sort_values(by=['GAME_ID'], ascending=[False]).head(20)

### Missing Values

In [ ]:
#Pre-requisite Code to compute up to Self Test
NBA_Games.info()
NBA_Games.notnull()
NBA_Games=NBA_Games[pd.notnull(NBA_Games["FG_PCT"])]
NBA_Games.shape
NBA_Games=NBA_Games.fillna(NBA_Games.mean())
NBA_Games.info()
NBA_Games['GM']=NBA_Games['FGM']+NBA_Games['FG3M']+NBA_Games['FTM']

## Self Test - 4 Solution
- Create a variable called "GA" equals to the total number of goals attempted.

In [ ]:
NBA_Games['GA']=NBA_Games['FGA']+NBA_Games['FG3A']+NBA_Games['FTA']

# Week 2.2

In [ ]:
#Pre-requisite Code to compute up to Self Test
import pandas as pd
NBA_Games=pd.read_csv("../Data/NBA_Games.csv")
NBA_Games.head()
NBA_Games.dtypes
dummy=pd.get_dummies(NBA_Games, columns=['WL'])
dummy.columns
NBA_Games=pd.concat([NBA_Games, dummy['WL_W']], axis=1)
NBA_Games.head() 
NBA_Games.rename(columns={'WL_W':'WIN'}, inplace=True)
NBA_Games.head()
NBA_Games['GAME_DATE'].dtype
import datetime
NBA_Games['GAME_DATE']=pd.to_datetime(NBA_Games['GAME_DATE'])
NBA_Games['GAME_DATE'].head()
NBA_Games.describe()
NBA_Games.describe(include='all')
NBA_Games['PTS'].describe()
NBA_Games['FGM'].mean()
NBA_Games['FGM'].median()
NBA_Games['FGM'].std()

## Self Test
1. Find the mean of field goals attempted;

2. Find the median of 3-point field goals made;

3. Find the standard deviation of the number of rebounds

In [ ]:
NBA_Games['FGA'].mean()
NBA_Games['FG3M'].median()
NBA_Games['REB'].std()

# Week 2.3

In [ ]:
#Pre-requisite Code to compute up to Self Test
import pandas as pd
NBA_Games=pd.read_csv("../Data/NBA_Games2.csv")
NBA_Games.head()
NBA_Games['FG_PCT'].describe()
NBA_Games['FG3_PCT'].describe()
NBA_Games.hist(column=['FG_PCT','FG3_PCT'], bins=20, sharex=True, sharey=True)
import matplotlib.pyplot as plt
NBA_Games[['FG_PCT','FG3_PCT']].plot.hist(alpha=0.3, bins=20)
plt.xlabel('Field Goal Percentage')
plt.ylabel('Frequency')
plt.title("Distributions of Field Goal Percentages", fontsize=15)
plt.savefig('FG_PCT_Distributions.png')
NBA_Games.hist(by='WL', column='FG_PCT', color='red', bins=15, sharex=True, sharey=True)
plt.savefig('FG_PCT_WL.png')

## Self Test - 1 Solution
1. Calculate summary statistics for the three-point field goal percentage by the result of the game
2. Graph a histogram of the three-point field goal percentage by the result of the game and provide interpretation
- Number of bins=10, the two subgraphs should have the same x and y ranges, color is green
- Export the graph as "FG3_PCT_Distribution" in png format

In [ ]:
NBA_Games.groupby(['WL'])['FG3_PCT'].describe()
NBA_Games.hist(by='WL', column='FG3_PCT', bins=10, color='green', sharex=True, sharey=True)
plt.savefig('FG3_PCT_Distribution.png')

In [ ]:
#Pre-requisite Code to compute up to Self Test
import datetime
NBA_Games['GAME_DATE']=pd.to_datetime(NBA_Games['GAME_DATE'])
NBA_Games['GAME_DATE'].head()
Pistons_Games=NBA_Games[(NBA_Games.NICKNAME == 'Pistons')&(NBA_Games.SEASON_ID==22017)& (NBA_Games.GAME_DATE>='2017-10-17')]
display(Pistons_Games)
Pistons_Games.plot(x='GAME_DATE', y='PTS')
plt.savefig('PISTONS_PTS_TIME.png')

## Self Test - 2
1. Graph Toronto Raptors' points in each game throughout the 2018-2019 seaon. 
(SEASON ID is 22018, and the regular season started on October 16, 2018.)
2. Export the graph as "RAPTORS_PTS_TIME" in png format

In [ ]:
Raptors_Games=NBA_Games[(NBA_Games.NICKNAME == 'Raptors')&(NBA_Games.SEASON_ID==22018)& (NBA_Games.GAME_DATE>='2018-10-16')]
Raptors_Games.plot(x='GAME_DATE', y='PTS')
plt.savefig('RAPTORS_PTS_TIME.png')