# I. Data Coding and Merging

In [62]:
# Load packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.formula.api as smf

In [2]:
# Load game logs data
# Teams = pd.read_excel("../Data/Game logs 1999-2003.xlsx")

In [4]:
# Step (1)
#  Load the “Game logs” data file, create a dummy variable for home wins (1 or 0) and visitor wins, 
#  and create the ‘year’ variable.

# Copy so that I don't have to load the large dataframe each time
df = Teams.copy()

df['year'] = df['date'].astype('str').str[:4]
df['hwin'] = np.where(df['home_score']>df['visitor_score'],1,0)
df['awin'] = np.where(df['home_score']<df['visitor_score'],1,0)

In [14]:
# Step (2)
#  Create a dataframe that sums the statistics you need by season (year) and by home team. Rename the 
#  column for the home team as ‘Team’.
df_hmyr = (df.groupby(['home','year'])
             .sum()
             .loc[:,['visitor_ab','visitor_h','home_ab','home_h','hwin','awin']]
             .reset_index()
             .rename({'home':'Team'}, axis=1)
          )

In [15]:
# Step (3)
#  Create a dataframe that sums the statistics you need by season (year) and by visiting team. Rename the 
#  column for the visiting team as ‘Team’.
df_awyr = (df.groupby(['visitor','year'])
             .sum()
             .loc[:,['visitor_ab','visitor_h','home_ab','home_h','hwin','awin']]
             .reset_index()
             .rename({'visitor':'Team'}, axis=1)
          )

In [18]:
# Step (4)
#  Merge the two dataframes on ‘year’ and ‘Team’ and create a variable for the total number of wins in the 
#  season for each team
df_teams = pd.merge(df_hmyr, df_awyr, on=['year','Team'], suffixes=('_h','_a'))
df_teams['wins'] = df_teams['hwin_h'] + df_teams['awin_a']
df_teams = df_teams.drop(['hwin_a','hwin_h','awin_h','awin_a'],axis=1)
df_teams

,Team,year,visitor_ab_h,visitor_h_h,home_ab_h,home_h_h,visitor_ab_a,visitor_h_a,home_ab_a,home_h_a,wins
0,ANA,1999,2832,762,2666,669,2828,735,2645,710,70
1,ANA,2000,2867,800,2742,788,2886,786,2742,734,82
2,ANA,2001,2873,772,2736,731,2815,716,2656,680,75
3,ANA,2002,2799,685,2757,769,2921,834,2654,660,99
4,ANA,2003,2868,743,2685,717,2802,756,2664,701,77
...,...,...,...,...,...,...,...,...,...,...,...
145,TOR,1999,2891,817,2731,765,2911,815,2753,765,84
146,TOR,2000,2910,819,2766,768,2911,794,2759,796,83
147,TOR,2001,2911,800,2809,757,2854,732,2738,753,80
148,TOR,2002,2838,749,2729,734,2852,723,2745,755,78
149,TOR,2003,2930,827,2763,779,2898,801,2730,733,86

In [28]:
temp = df_teams.copy()
temp['away_ab'] = temp['visitor_ab_a']+temp['visitor_ab_h']
temp.groupby('year').mean().sort_values('away_ab', ascending=False)

,visitor_ab_h,visitor_h_h,home_ab_h,home_h_h,visitor_ab_a,visitor_h_a,home_ab_a,home_h_a,wins,away_ab
year,,,,,,,,,,
2000,2855.333333,761.500000,2721.000000,746.700000,2855.333333,761.500000,2721.000000,746.700000,80.933333,5710.666667
1999,2852.066667,766.233333,2719.166667,744.666667,2852.066667,766.233333,2719.166667,744.666667,80.900000,5704.133333
2003,2844.933333,737.400000,2712.966667,731.166667,2844.933333,737.400000,2712.966667,731.166667,80.966667,5689.866667
2001,2834.466667,737.966667,2706.666667,724.666667,2834.466667,737.966667,2706.666667,724.666667,80.933333,5668.933333
2002,2823.200000,726.266667,2696.200000,716.133333,2823.200000,726.266667,2696.200000,716.133333,80.833333,5646.400000

# II. Calculating Performance Metrics

In [36]:
# Step (1)
#  Create batting average for and batting average against as the sum the relevant statistics for each team 
#  as home team and visiting team.
df_teams['BAfor'] = (df_teams['home_h_h']+df_teams['visitor_h_a']) / (df_teams['home_ab_h']+df_teams['visitor_ab_a'])
df_teams['BAagn'] = (df_teams['home_h_a']+df_teams['visitor_h_h']) / (df_teams['home_ab_a']+df_teams['visitor_ab_h'])
df_teams

,Team,year,visitor_ab_h,visitor_h_h,home_ab_h,home_h_h,visitor_ab_a,visitor_h_a,home_ab_a,home_h_a,wins,BAfor,BAagn
0,ANA,1999,2832,762,2666,669,2828,735,2645,710,70,0.255552,0.268760
1,ANA,2000,2867,800,2742,788,2886,786,2742,734,82,0.279673,0.273489
2,ANA,2001,2873,772,2736,731,2815,716,2656,680,75,0.260674,0.262615
3,ANA,2002,2799,685,2757,769,2921,834,2654,660,99,0.282318,0.246653
4,ANA,2003,2868,743,2685,717,2802,756,2664,701,77,0.268453,0.261027
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,TOR,1999,2891,817,2731,765,2911,815,2753,765,84,0.280043,0.280298
146,TOR,2000,2910,819,2766,768,2911,794,2759,796,83,0.275145,0.284883
147,TOR,2001,2911,800,2809,757,2854,732,2738,753,80,0.262935,0.274916
148,TOR,2002,2838,749,2729,734,2852,723,2745,755,78,0.261064,0.269389
149,TOR,2003,2930,827,2763,779,2898,801,2730,733,86,0.279103,0.275618

In [47]:
# Step (2)
#  Create the win percentage variable for each team by generating a count of games played and dividing 
#  total wins by total games played.
hgames = df.groupby(['year','home']).count().reset_index().loc[:,'date']
agames = df.groupby(['year','visitor']).count().reset_index().loc[:,'date']
df_teams['games'] = hgames+agames
df_teams['wpc'] = df_teams['wins']/df_teams['games']

df_teams

,Team,year,visitor_ab_h,visitor_h_h,home_ab_h,home_h_h,visitor_ab_a,visitor_h_a,home_ab_a,home_h_a,wins,BAfor,BAagn,games,wpc
0,ANA,1999,2832,762,2666,669,2828,735,2645,710,70,0.255552,0.268760,162,0.432099
1,ANA,2000,2867,800,2742,788,2886,786,2742,734,82,0.279673,0.273489,162,0.506173
2,ANA,2001,2873,772,2736,731,2815,716,2656,680,75,0.260674,0.262615,162,0.462963
3,ANA,2002,2799,685,2757,769,2921,834,2654,660,99,0.282318,0.246653,162,0.611111
4,ANA,2003,2868,743,2685,717,2802,756,2664,701,77,0.268453,0.261027,162,0.475309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,TOR,1999,2891,817,2731,765,2911,815,2753,765,84,0.280043,0.280298,161,0.521739
146,TOR,2000,2910,819,2766,768,2911,794,2759,796,83,0.275145,0.284883,162,0.512346
147,TOR,2001,2911,800,2809,757,2854,732,2738,753,80,0.262935,0.274916,162,0.493827
148,TOR,2002,2838,749,2729,734,2852,723,2745,755,78,0.261064,0.269389,162,0.481481
149,TOR,2003,2930,827,2763,779,2898,801,2730,733,86,0.279103,0.275618,162,0.530864

In [49]:
# Step (3)
#  Using a similar process to part 2), calculate each team’s home and away win percentage separately for 
#  each season.
df_hm = df.groupby(['year','home']).sum().reset_index().loc[:,['hwin','awin']]
df_teams['hwin'] = df_hm['hwin']
df_teams['hgames'] = df_hm['hwin'] + df_hm['awin']
df_teams['hwpc'] = df_teams['hwin'] / df_teams['hgames']

df_aw = df.groupby(['year','visitor']).sum().reset_index().loc[:,['hwin','awin']]
df_teams['awin'] = df_aw['awin']
df_teams['agames'] = df_aw['hwin'] + df_aw['awin']
df_teams['awpc'] = df_teams['awin'] / df_teams['agames']

df_teams

,Team,year,visitor_ab_h,visitor_h_h,home_ab_h,home_h_h,visitor_ab_a,visitor_h_a,home_ab_a,home_h_a,...,BAfor,BAagn,games,wpc,hwin,hgames,hwpc,awin,agames,awpc
0,ANA,1999,2832,762,2666,669,2828,735,2645,710,...,0.255552,0.268760,162,0.432099,37,81,0.456790,33,81,0.407407
1,ANA,2000,2867,800,2742,788,2886,786,2742,734,...,0.279673,0.273489,162,0.506173,52,81,0.641975,48,81,0.592593
2,ANA,2001,2873,772,2736,731,2815,716,2656,680,...,0.260674,0.262615,162,0.462963,56,81,0.691358,47,81,0.580247
3,ANA,2002,2799,685,2757,769,2921,834,2654,660,...,0.282318,0.246653,162,0.611111,41,81,0.506173,37,81,0.456790
4,ANA,2003,2868,743,2685,717,2802,756,2664,701,...,0.268453,0.261027,162,0.475309,49,81,0.604938,45,81,0.555556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,TOR,1999,2891,817,2731,765,2911,815,2753,765,...,0.280043,0.280298,161,0.521739,57,81,0.703704,43,80,0.537500
146,TOR,2000,2910,819,2766,768,2911,794,2759,796,...,0.275145,0.284883,162,0.512346,48,81,0.592593,37,81,0.456790
147,TOR,2001,2911,800,2809,757,2854,732,2738,753,...,0.262935,0.274916,162,0.493827,36,81,0.444444,27,81,0.333333
148,TOR,2002,2838,749,2729,734,2852,723,2745,755,...,0.261064,0.269389,162,0.481481,43,81,0.530864,28,81,0.345679
149,TOR,2003,2930,827,2763,779,2898,801,2730,733,...,0.279103,0.275618,162,0.530864,41,81,0.506173,45,81,0.555556

In [50]:
# Step (4)
#  Merge each team’s home and away win percentage for each season into one data frame. Calculate WPCT 
#  diff defined as home win percentage – away win percentage for every team in each season.
df_teams['wpcdiff'] = df_teams['hwpc'] - df_teams['awpc']
df_teams

,Team,year,visitor_ab_h,visitor_h_h,home_ab_h,home_h_h,visitor_ab_a,visitor_h_a,home_ab_a,home_h_a,...,BAagn,games,wpc,hwin,hgames,hwpc,awin,agames,awpc,wpcdiff
0,ANA,1999,2832,762,2666,669,2828,735,2645,710,...,0.268760,162,0.432099,37,81,0.456790,33,81,0.407407,0.049383
1,ANA,2000,2867,800,2742,788,2886,786,2742,734,...,0.273489,162,0.506173,52,81,0.641975,48,81,0.592593,0.049383
2,ANA,2001,2873,772,2736,731,2815,716,2656,680,...,0.262615,162,0.462963,56,81,0.691358,47,81,0.580247,0.111111
3,ANA,2002,2799,685,2757,769,2921,834,2654,660,...,0.246653,162,0.611111,41,81,0.506173,37,81,0.456790,0.049383
4,ANA,2003,2868,743,2685,717,2802,756,2664,701,...,0.261027,162,0.475309,49,81,0.604938,45,81,0.555556,0.049383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,TOR,1999,2891,817,2731,765,2911,815,2753,765,...,0.280298,161,0.521739,57,81,0.703704,43,80,0.537500,0.166204
146,TOR,2000,2910,819,2766,768,2911,794,2759,796,...,0.284883,162,0.512346,48,81,0.592593,37,81,0.456790,0.135802
147,TOR,2001,2911,800,2809,757,2854,732,2738,753,...,0.274916,162,0.493827,36,81,0.444444,27,81,0.333333,0.111111
148,TOR,2002,2838,749,2729,734,2852,723,2745,755,...,0.269389,162,0.481481,43,81,0.530864,28,81,0.345679,0.185185
149,TOR,2003,2930,827,2763,779,2898,801,2730,733,...,0.275618,162,0.530864,41,81,0.506173,45,81,0.555556,-0.049383

In [51]:
# Quiz Q1
df_teams.sort_values('wpcdiff', ascending=False)

,Team,year,visitor_ab_h,visitor_h_h,home_ab_h,home_h_h,visitor_ab_a,visitor_h_a,home_ab_a,home_h_a,...,BAagn,games,wpc,hwin,hgames,hwpc,awin,agames,awpc,wpcdiff
129,SFN,2003,2797,692,2704,751,2752,689,2590,657,...,0.250418,162,0.617284,49,81,0.604938,25,81,0.308642,0.296296
99,NYN,2003,2791,757,2613,663,2728,654,2684,740,...,0.273425,162,0.407407,47,81,0.580247,26,81,0.320988,0.259259
137,TBA,2001,2868,775,2727,727,2797,699,2676,738,...,0.272908,162,0.382716,52,81,0.641975,31,81,0.382716,0.259259
140,TEX,1999,2928,846,2756,837,2895,816,2750,780,...,0.286368,162,0.586420,57,81,0.703704,39,81,0.481481,0.222222
23,BOS,2002,2800,712,2713,741,2927,819,2653,627,...,0.245553,162,0.574074,46,81,0.567901,28,81,0.345679,0.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,HOU,2001,2836,733,2713,753,2815,747,2738,720,...,0.260675,162,0.574074,40,81,0.493827,48,81,0.592593,-0.098765
83,MIN,2002,2853,723,2742,757,2840,761,2725,731,...,0.260667,162,0.580247,35,81,0.432099,44,81,0.543210,-0.111111
94,NYA,2003,2892,762,2703,716,2902,802,2808,750,...,0.265263,162,0.623457,42,81,0.518519,51,81,0.629630,-0.111111
15,BAL,1999,2827,760,2732,762,2905,810,2638,708,...,0.268618,161,0.484472,32,80,0.400000,42,81,0.518519,-0.118519
67,KCA,2001,2920,852,2804,767,2839,736,2646,685,...,0.276141,162,0.401235,27,81,0.333333,39,81,0.481481,-0.148148

In [52]:
# Quiz Q2
(df_teams['BAfor']-df_teams['BAagn']).sort_values()

54    -0.045685
53    -0.036948
39    -0.033337
30    -0.028756
52    -0.028618
         ...
5      0.027540
35     0.030572
23     0.031043
3      0.035664
122    0.052685
Length: 150, dtype: float64

In [54]:
# Quiz Q3
df_teams[df_teams['games'] != 162].count()

Team            28
year            28
visitor_ab_h    28
visitor_h_h     28
home_ab_h       28
home_h_h        28
visitor_ab_a    28
visitor_h_a     28
home_ab_a       28
home_h_a        28
wins            28
BAfor           28
BAagn           28
games           28
wpc             28
hwin            28
hgames          28
hwpc            28
awin            28
agames          28
awpc            28
wpcdiff         28
dtype: int64

# III. Running Regressions

In [63]:
# Step (1)
#  Run an OLS (Ordinary Least Squares) regression of win percentage on batting average 
#  for and batting average against.
smf.ols(formula='wpc ~ BAfor + BAagn', data=df_teams).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    wpc   R-squared:                       0.722
Model:                            OLS   Adj. R-squared:                  0.718
Method:                 Least Squares   F-statistic:                     190.5
Date:                Tue, 14 Dec 2021   Prob (F-statistic):           1.52e-41
Time:                        20:34:30   Log-Likelihood:                 265.95
No. Observations:                 150   AIC:                            -525.9
Df Residuals:                     147   BIC:                            -516.9
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.6024      0.099      6.089      0.000       0.407       0.798
BAfor          3.7974      0.299     12.680      0.000       3.206       4.389
BAagn         -4.1832      0.258    -16.226      0.000      -4.693      -3.674
==============================================================================
Omnibus:                        0.301   Durbin-Watson:                   1.534
Prob(Omnibus):                  0.860   Jarque-Bera (JB):                0.088
Skew:                           0.034   Prob(JB):                        0.957
Kurtosis:                       3.098   Cond. No.                         97.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [64]:
# Step (2)
#  Run an OLS (Ordinary Least Squares) regression of win percentage on batting average 
#  for and batting average against,   constraining the coefficient on each variable to 
#  be equal and opposite.
smf.ols(formula='wpc ~ I(BAfor-BAagn)', data=df_teams).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    wpc   R-squared:                       0.720
Model:                            OLS   Adj. R-squared:                  0.718
Method:                 Least Squares   F-statistic:                     379.8
Date:                Tue, 14 Dec 2021   Prob (F-statistic):           1.06e-42
Time:                        20:35:17   Log-Likelihood:                 265.40
No. Observations:                 150   AIC:                            -526.8
Df Residuals:                     148   BIC:                            -520.8
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.4997      0.003    147.400      0.000       0.493       0.506
I(BAfor - BAagn)     4.0227      0.206     19.488      0.000       3.615       4.431
==============================================================================
Omnibus:                        0.469   Durbin-Watson:                   1.512
Prob(Omnibus):                  0.791   Jarque-Bera (JB):                0.179
Skew:                           0.024   Prob(JB):                        0.914
Kurtosis:                       3.162   Cond. No.                         60.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [57]:
# Quiz Q1
# AVGFOR = 3.786, AVGAGN = -4.169  CORRECT

In [58]:
# Quiz Q2
# 4.16  WRONG

In [59]:
# Quiz Q3
# 72.0% CORRECT

In [60]:
# Quiz Q4
# 71.8% WRONG